:root{
    --dark-color: #3d0d0d;
    --light-color: rgb(219, 217, 86);
    --header-height: 50px;
    --search-height: 50px;
    --border-color: rgb(107, 109, 109);

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--dark-color);
    overflow: hidden;
}

.container{
    text-align: center;
    height: 2vh;
}

header{
    height: var(--header-height);
    background: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--dark-color);
    gap: 10px;
    padding-right: 30px;
}

header img{
    width: 5%;
    height: auto;
    filter: invert(1);
}

.search{
    display:flex;
    justify-content: center;
    align-items: center;
    height: var(--search-height);
    gap: 10px;
    box-shadow: 0px 2px 8px 0px;
}

.search input[type="text"]{
padding: 8px 10px;
line-height: 1.5;
font-size: 1rem;
border: none;
border-left: 1px solid var(--border-color);
border-bottom: 1px solid transparent;
outline: none;
transition: all 200ms ease-in-out;
width: 35%;
}

.search input[type="text"] :focus {
   border-left-color: transparent;
   border-bottom-color: var(--border-color); 
   width: 36%;
}

.btn{
    padding: 8px 10px;
    text-emphasis-color: #ccc;
    background: transparent;
border-radius: 2px;
user-select: none;
font-size: 1rem;
border: 1px solid #375370;
cursor: pointer;
}

.btn:hover{
    background: #755e10;
    border-color: var(--dark-color);
    color: var(--light-color);
}
#recipe-container {
    display: flex;
    background-color: #eeeeee;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(100vh - (var(--header-height) + var(--search-height) + 20px));
    overflow: hidden;
    overflow-y: auto;
}

.recipe {
    height: 300px;
    width: 300px;
    padding: 4px;
    box-shadow: 0px 0px 8px 2px var(--border-color);
    margin: 20px;
    transition: all 200ms ease-in-out;
    border-radius: 4px 4px 0px 0px;
}

.recipe-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.recipe-image {
    height: 150px;
}

.recipe-image img {
    height: 100%;
    width: 100%;
}

.recipe-text {
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
    background: #ccc;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
    transform: scale(.8);
    transform-origin: top left;
}

.recipe-text ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}

.recipe-text ul>li {
    padding: 5px;
}

.recipe:hover .recipe-text{
    height: 120px;
    width: 290px;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.recipe:hover {
    height: 420px;
}

::selection{
    color: var(--light-color);
    background: darkolivegreen;
}
#loading{
    background: url(images/load.gif) no-repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.hide{
    display: none;
}
@media only screen and (max-width: 600px) {
    body{
    background: rgb(124, 75, 10);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #817171;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}



